<footer>
  <div class="footer-content">
    <small>
      © 2024 Atanas G. Iliev |
    <div class="social-icons">
      <a href="https://instagram.com/atanasgiliev" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/atanasgiliev" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/atanas-g-iliev/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/profile.php?id=100008671595810" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
      </small>
  </div>
</footer>
